# Files to ignore when considering what GIT should commit.

.vscode/
include/*.inc
!scripting/include/cbasenpc.inc
scripting/compile.exe
scripting/compile.dat
scripting/spcomp.exe
scripting/compiled/
scripting/*.smx
scripting/*.sp
!scripting/cbasenpc.sp
!scripting/cbasenpc_example.sp
!scripting/cbasenpc_factorytest.sp
!scripting/cbasenpc_actiontest.sp
gamedata/*.txt
!gamedata/cbasenpc.txt
build/
*_build/